In [12]:
import numpy as np
import pandas as pd

**Read csv file into dataframe**

In [13]:
data = pd.read_csv('NYPD_Shooting_Incident_Data.csv', na_values = ["(null)"]) #change (null) values to Na
data.shape
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,308408221,06/20/2025,19:06:00,QUEENS,OUTSIDE,104,0,STREET,NaN,N,...,M,WHITE HISPANIC,25-44,M,BLACK,"1,013,701","195,936",0.000000,0.000000,POINT (0 0)
1,306062049,05/08/2025,00:25:00,BRONX,OUTSIDE,47,2,HOUSING,MULTI DWELL - PUBLIC HOUS,N,...,NaN,NaN,25-44,M,WHITE HISPANIC,"1,030,360","261,043",40.883065,-73.833249,POINT (-73.833249 40.883065)
2,312202110,09/01/2025,19:34:00,BRONX,OUTSIDE,49,0,STREET,NaN,N,...,M,BLACK,18-24,M,BLACK,"1,020,797","254,600",40.865427,-73.867866,POINT (-73.867866 40.865427)
3,312957372,09/15/2025,17:32:00,MANHATTAN,OUTSIDE,25,0,STREET,NaN,N,...,M,BLACK,<18,M,BLACK,"1,002,444","231,358",40.801690,-73.934282,POINT (-73.934282 40.80169)
4,311949658,08/26/2025,15:30:00,BRONX,OUTSIDE,48,0,STREET,NaN,N,...,M,BLACK,25-44,M,BLACK,"1,014,898","249,845",40.852399,-73.889217,POINT (-73.889217 40.852399)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,306394911,05/14/2025,05:56:00,BROOKLYN,OUTSIDE,76,0,STREET,NaN,N,...,M,BLACK,45-64,M,BLACK HISPANIC,"984,217","184,686",40.673607,-74.000120,POINT (-74.00012 40.673607)
765,305404405,04/26/2025,20:54:00,QUEENS,OUTSIDE,114,2,HOUSING,MULTI DWELL - PUBLIC HOUS,N,...,M,BLACK,25-44,M,BLACK,"1,001,899","221,193",40.773793,-73.936281,POINT (-73.936281 40.773793)
766,311327863,08/17/2025,03:27:00,BROOKLYN,OUTSIDE,71,0,COMMERCIAL,BAR/NIGHT CLUB,Y,...,M,BLACK,25-44,F,BLACK,"995,600","182,496",40.667590,-73.959087,POINT (-73.959087 40.66759)
767,311756929,08/23/2025,17:26:00,BRONX,OUTSIDE,47,0,STREET,NaN,N,...,M,BLACK,25-44,M,BLACK,"1,021,316","259,277",40.878261,-73.865964,POINT (-73.865964 40.878261)
768,299956934,01/23/2025,23:43:00,BRONX,OUTSIDE,43,0,STREET,NaN,N,...,M,WHITE HISPANIC,<18,M,WHITE HISPANIC,"1,016,692","240,037",40.825473,-73.882778,POINT (-73.882778 40.825473)

**Check for null values**

In [14]:
data.isna().sum()

INCIDENT_KEY                  0
OCCUR_DATE                    0
OCCUR_TIME                    0
BORO                          0
LOC_OF_OCCUR_DESC             0
PRECINCT                      0
JURISDICTION_CODE             0
LOC_CLASSFCTN_DESC            2
LOCATION_DESC               514
STATISTICAL_MURDER_FLAG       0
PERP_AGE_GROUP              263
PERP_SEX                    263
PERP_RACE                   263
VIC_AGE_GROUP                 0
VIC_SEX                       0
VIC_RACE                      0
X_COORD_CD                    0
Y_COORD_CD                    0
Latitude                      0
Longitude                     0
New Georeferenced Column      0
dtype: int64

**drop unnecessary column**

In [15]:
cleaned_data = data.drop(columns = ['LOCATION_DESC','PERP_AGE_GROUP', 'PERP_SEX','PERP_RACE','X_COORD_CD', 'Y_COORD_CD', 'New Georeferenced Column', 'STATISTICAL_MURDER_FLAG'])
cleaned_data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,Latitude,Longitude
0,308408221,06/20/2025,19:06:00,QUEENS,OUTSIDE,104,0,STREET,25-44,M,BLACK,0.000000,0.000000
1,306062049,05/08/2025,00:25:00,BRONX,OUTSIDE,47,2,HOUSING,25-44,M,WHITE HISPANIC,40.883065,-73.833249
2,312202110,09/01/2025,19:34:00,BRONX,OUTSIDE,49,0,STREET,18-24,M,BLACK,40.865427,-73.867866
3,312957372,09/15/2025,17:32:00,MANHATTAN,OUTSIDE,25,0,STREET,<18,M,BLACK,40.801690,-73.934282
4,311949658,08/26/2025,15:30:00,BRONX,OUTSIDE,48,0,STREET,25-44,M,BLACK,40.852399,-73.889217
...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,306394911,05/14/2025,05:56:00,BROOKLYN,OUTSIDE,76,0,STREET,45-64,M,BLACK HISPANIC,40.673607,-74.000120
765,305404405,04/26/2025,20:54:00,QUEENS,OUTSIDE,114,2,HOUSING,25-44,M,BLACK,40.773793,-73.936281
766,311327863,08/17/2025,03:27:00,BROOKLYN,OUTSIDE,71,0,COMMERCIAL,25-44,F,BLACK,40.667590,-73.959087
767,311756929,08/23/2025,17:26:00,BRONX,OUTSIDE,47,0,STREET,25-44,M,BLACK,40.878261,-73.865964
768,299956934,01/23/2025,23:43:00,BRONX,OUTSIDE,43,0,STREET,<18,M,WHITE HISPANIC,40.825473,-73.882778

In [16]:
cleaned_data.to_csv("cleaned_shooting_incident_3.csv", index=False)

In [8]:
#using occur time to add column of morning/noon/night when shooting occur
#def time_category(time):
    #return int(time.split(':')[0])
#time = cleaned_data['OCCUR_TIME'].apply(time_category)

In [8]:
# analyze how safe is each area (by boro) - at certain time in day, location, victim's age/sex/race